* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --desc-color: #152427;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    display: inline-block;
    width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 999px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
    transition: 0.25s;
    font-family: "Public Sans";
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    position: relative;
    color: var(--desc-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.section-heading::after {
    position: absolute;
    content: "";
    display: inline-block;
    right: 0;
    bottom: 19px;
    width: 66px;
    height: 2px;
    background: var(--desc-color);
}

.section-desc.lv1 {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.section-desc.lv2 {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.section-desc.lv3 {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.section-tag {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.section-tag::before {
    content: "";
    position: relative;
    display: inline-block;
    top: -9px;
    width: 25px;
    height: 1px;
    margin-right: 21px;
    background: var(--desc-color);
}

/* Header */
.header {
    margin-top: 28px;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1px;
    bottom: -13px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    column-gap: 17px;
}

.navbar__link {
    padding: 2px 21px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    color: #575d5e;
}

.navbar__active,
.navbar__link:hover {
    color: var(--desc-color);
}

.navbar__active::before {
    content: "";
    display: inline-block;
    position: relative;
    left: 22px;
    bottom: 0;
    width: 16px;
    height: 2px;
    margin-bottom: -35px;
    z-index: 1;
    background: var(--primary-color);
}

.navbar__sign-up {
    margin-left: 88px;
}

/* Hero */
.hero {
    margin-top: 13px;
    padding-bottom: 87px;
}

.hero__inner {
    position: relative;
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    margin-top: 43px;
    flex-shrink: 0;
}

.hero__heading {
    width: 368px;
    color: var(--desc-color);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 42px;
    column-gap: 36px;
}

.hero-video {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-video__icon {
    display: flex;
    align-items: center;
}

.hero-video__play:last-child {
    margin-left: -21px;
}

.hero-video__text {
    margin-left: 15px;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero__images {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    z-index: 1;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__img:last-child {
    position: absolute;
    top: 112px;
    left: 156px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: 0;
}

.hero-decor__top {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-decor__img--top:first-child {
    position: absolute;
    top: 35px;
    left: 254px;
    z-index: 2;
}

.hero-decor__img--top:last-child {
    position: absolute;
    top: 28px;
    left: 297px;
    z-index: 1;
}

.hero-decor__bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero-decor__img--bottom:first-child {
    position: absolute;
    right: 32px;
    bottom: -51px;
    z-index: 2;
}

.hero-decor__img--bottom:last-child {
    position: absolute;
    right: 68px;
    bottom: -85px;
    z-index: 1;
}

/* Clients */
.clients {
    margin-top: 42px;
}

.clients__inner {
    padding: 76px 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 999px;
    background: #e2eddf;
}

.clients__google {
    font-size: 3.1rem;
    font-weight: 500;
}

.clients__google,
.clients__riotinto,
.clients__slack-text,
.clients__heroku-text {
    color: #143c3c;
}

.clients__slack,
.clients__heroku,
.clients__agworld {
    display: flex;
    align-items: center;
}

.clients__slack {
    margin-left: 47px;
}

.clients__slack-text {
    font-size: 3.2rem;
    font-weight: 500;
}

.clients__agworld {
    margin-left: 51px;
}

.clients__agworld-text {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.clients__riotinto {
    margin-left: 64px;
    font-family: "Sonsie One", system-ui;
    font-size: 2.3rem;
    font-weight: 400;
}

.clients__heroku {
    margin-left: 63px;
}

.clients__heroku-text {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Services */
.services {
    margin-top: 106px;
}

.services__heading {
    position: relative;
    max-width: 520px;
    margin-top: 12px;
}

.services__heading::after {
    right: 97px;
}

.services__row {
    display: flex;
}

.services__control {
    display: flex;
    column-gap: 17px;
    margin-left: auto;
    padding: 41px 76px 9px;
}

.services__control-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 1px solid #e2eddf;
    color: var(--desc-color);
    background: #e2eddf;
    transition: 0.25s;
}

.services__control-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services-item {
    border-radius: 20px;
    transition: 0.25s;
}

.services-item:hover {
    transform: translateY(-10px);
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    cursor: pointer;
}

.services-item__thumb {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
}

.services-item__body {
    padding: 24px 18px;
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.services-item__heading {
    color: var(--desc-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services-item__desc {
    max-width: 268px;
    margin-top: 18px;
}

/* About */
.about {
    margin-top: 149px;
}

.about__inner {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.about__media {
    position: relative;
}

.about__images {
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
}

.about__img:first-child {
    margin-top: 77px;
}

.about-total {
    position: absolute;
    right: 0;
    bottom: 8px;
    padding: 19px 23px 12px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}

.about-total__heading {
    color: var(--desc-color);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-total__desc {
    margin-top: 6px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-total__number {
    color: var(--desc-color);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-total__range,
.about-total__range::before {
    height: 2px;
    border-radius: 999px;
}

.about-total__range {
    position: relative;
    width: 96px;
    margin-top: 3px;
    background: #eaeaea;
}

.about-total__range::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    background: #83a17d;
}

.about-total__loding {
    margin-top: 3px;
    color: var(--desc-color);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.about-total__circle,
.about-total__circle::after {
    border-radius: 50%;
}

.about-total__circle {
    position: relative;
    display: flex;
    width: 11px;
    height: 11px;
    align-items: center;
    justify-content: center;
    background: #eaeaea;
}

.about-total__circle::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #143c3c;
}

.about-total__team {
    margin-top: 5px;
    display: flex;
}

.about-total__text {
    color: var(--desc-color);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-total__row {
    display: flex;
    margin-left: auto;
}

.about-total__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about-total__img + .about-total__img {
    margin-left: -6px;
}

.about__content {
    margin-left: 64px;
    flex-shrink: 0;
    width: 43%;
}

.about__desc {
    margin-top: 11px;
}

.about__row {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83a17d;
}

.about__row-top {
    margin-top: 36px;
}

.about__row-heading {
    color: var(--desc-color);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about__row-desc {
    margin-left: 24px;
    width: 364px;
}

.about__row-bottom {
    margin-top: 38px;
}

.about-decor {
    position: absolute;
    top: 0;
    left: 0;
}

.about-decor__img:first-child {
    position: absolute;
    top: -49px;
    left: 41px;
    transform: rotate(171.985deg);
    z-index: 2;
}

.about-decor__img:last-child {
    position: absolute;
    top: 0px;
    left: 45px;
    transform: rotate(12.645deg);
    z-index: 1;
}

/* Process */
.process {
    margin-top: 115px;
}

.process__heading {
    max-width: 500px;
}

.process__list {
    margin-top: 81px;
}

.process-item:first-child {
    position: relative;
    height: 185px;
    padding: 57px 30px;
    display: flex;
    align-items: center;
    border-radius: 33px;
    background: #e2eddf;
}

.process-item__number {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 7.2;
}

.process-item__content {
    margin-left: 64px;
}

.process-item__heading {
    color: var(--desc-color);
    font-size: 2.2rem;
    font-weight: 600;
    min-width: 182px;
}

.process-item__more {
    display: inline-block;
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
}

.process-item__thumb {
    position: absolute;
    top: -259px;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process-item:nth-child(2),
.process-item:nth-child(3) {
    padding: 0 30px 40px;
    height: 84px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83a17d;
}

.process-item:nth-child(2) {
    margin-top: 46px;
}

.process-item:nth-child(3) {
    margin-top: 54px;
}

.process-item__row {
    display: flex;
    align-items: center;
    margin-left: 49px;
    column-gap: 175px;
}

.process-item__desc {
    width: 572px;
}

/* Project */
.project {
    padding: 116px 130px 63px;
    margin-top: 148px;
    background: var(--primary-color);
}

.project__inner {
    position: relative;
}

.project__top {
    display: flex;
    column-gap: 93px;
}

.project__heading {
    width: 457px;
    color: #e7f9f9;
}

.project__heading::after {
    right: 85px;
    background: #83a17d;
}

.project__content {
    display: flex;
    flex-direction: column;
}

.project__content-desc {
    width: 590px;
}

.project__cta {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.project__cta:hover .project__arrow-right {
    transform: translateX(10px);
}

.project__link {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project__arrow-right {
    margin-left: 26px;
    color: #80a07b;
    transition: 0.25s;
}

.project__video {
    position: relative;
    margin-top: 65px;
}

.project__background {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__btn {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 85px;
    height: 85px;
    transform: translateX(-50%);
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
}

.project__btn:hover {
    background: red;
}

.project__decor-img:first-child {
    position: absolute;
    top: 82px;
    right: -30px;
    transform: rotate(45deg);
}

.project__decor-img:last-child {
    position: absolute;
    top: 68px;
    right: -120px;
    transform: scaleX(-1) rotate(-69deg);
}
